
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join the Club</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1>Enter the secret code to become a club member</h1>
        <form action="/join-the-club" method="POST">
            <label for="secretCode">Enter the secret code</label>
            <input type="text" id="secretCode" name="secretCode">
            <button type="submit">Sumbit</button>
        </form>
    </div>
</body>
</html>