
<ul>
    <li>
        <% if (!user) { %>
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
        <% } %>
        <a href="/create-message">New Message</a>
    </li>
</ul>