<ul id="main-nav">
    <li>
        <% if (!user) { %>
            <li>
                <a href="/login">Login</a>
            </li>
            <li>
                <a href="/signup">Signup</a>
            </li>
        <% } %>
        <% if(user) { %>
            <li>
                <a href="/logout">Logout</a>
            </li>
            <li>
                <a href="/create-message">New Message</a>
            </li>
            <% if(!user.is_club_member) { %>
                <li>
                    <a href="/join-the-club">Join the club</a>
                </li>
            <% } %>
        <% } %>
    </li>
</ul>